
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1481812493584'); /* IE9*/
  src: url('iconfont.eot?t=1481812493584#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1481812493584') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1481812493584') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1481812493584#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youxiang:before { content: "\e624"; }

.icon-shouji:before { content: "\e878"; }

.icon-weixin:before { content: "\e690"; }

.icon-3:before { content: "\e617"; }

.icon-html5:before { content: "\e74e"; }

.icon-css3:before { content: "\e603"; }

.icon-boke3:before { content: "\e60d"; }

.icon-nodejs:before { content: "\e655"; }

.icon-gongchengshi:before { content: "\e62d"; }

.icon-js:before { content: "\e604"; }

.icon-biaoqian:before { content: "\e618"; }

.icon-daima:before { content: "\e616"; }

.icon-iconfontzhuangtai2:before { content: "\e60e"; }

.icon-jquery-copy:before { content: "\e600"; }

.icon-git:before { content: "\e60f"; }

.icon-xuexiao:before { content: "\e62e"; }

